@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser<Guid>> signInManager

@if (signInManager.IsSignedIn(User) is true)
{
	<form id="logout-form"
				class="navbar-right"
				asp-controller="Account"
				asp-action="LogOff"
				asp-antiforgery="true"
				method="post">
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item"> @User?.Identity?.Name </li>
			<li class="nav-item">
				<a href="javascript:document.getElementById('logout-form').submit()">Log Off</a>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item">
			<a id="register-link"
				 class="nav-link text-dark"			
				 asp-controller="Account"
				 asp-action="Register">
				Registration
			</a>
		</li>
		<li class="nav-item">
			<a id="login-link"
				 class="nav-link text-dark"
				 asp-controller="Account"
				 asp-action="SignIn">
				Sign In
			</a>
		</li>
	</ul>
}