@model LoginViewModel
@{
	ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<div class="container-fluid">
	<form asp-controller="Account" asp-action="SignIn" method="post">
		<div class="row">
			<label asp-for="UserName">User Name</label>
			<input type="text" name="UserName" value="" />
		</div>
		<div class="row">
			<label asp-for="Password">Password</label>
			<input type="text" name="Password" value="" />
		</div>
		<div class="row">
			<input type="submit" value="Submit" class="btn btn-primary" />
		</div>
	</form>

	<dir class="row">
		<p>New user? <a alt="Regstration Link" href="/Account/Register">Click here</a></p>
	</dir>
</div>